{% assign author_data = site.data.authors[author_key] %}
<div itemscope itemtype="https://schema.org/Person" class="h-card">

  {% if author_data.avatar %}
    <div class="author__avatar">
      <a href="{{ author_data.home | default: '/' | absolute_url }}">
        <img src="{{ author_data.avatar | relative_url }}" alt="{{ author_data.name }}" itemprop="image" class="u-photo">
      </a>
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author_data.home | default: '/' | absolute_url }}" itemprop="url">{{ author_data.name }}</a>
    </h3>
    {% if author_data.bio %}
      <div class="author__bio p-note" itemprop="description">
        {{ author_data.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author_data.location %}
        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name" class="p-locality">{{ author_data.location }}</span>
        </li>
      {% endif %}

      {% if author_data.links %}
        {% for link in author_data.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer me"{% if link.url contains 'http' %} itemprop="sameAs"{% endif %}><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if author_data.uri %}
        <li>
          <a href="{{ author_data.uri }}" itemprop="url" rel="me">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.email %}
        <li>
          <a href="mailto:{{ author_data.email }}" rel="me" class="u-email">
            <meta itemprop="email" content="{{ author_data.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.keybase %}
        <li>
          <a href="https://keybase.io/{{ author_data.keybase }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-keybase" aria-hidden="true"></i><span class="label">Keybase</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.twitter %}
        <li>
          <a href="https://twitter.com/{{ author_data.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="label">Twitter</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.facebook %}
        <li>
          <a href="https://www.facebook.com/{{ author_data.facebook }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i><span class="label">Facebook</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author_data.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="label">LinkedIn</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.xing %}
        <li>
          <a href="https://www.xing.com/profile/{{ author_data.xing }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i><span class="label">XING</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.instagram %}
        <li>
          <a href="https://instagram.com/{{ author_data.instagram }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-instagram" aria-hidden="true"></i><span class="label">Instagram</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.tumblr %}
        <li>
          <a href="https://{{ author_data.tumblr }}.tumblr.com" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i><span class="label">Tumblr</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.bitbucket %}
        <li>
          <a href="https://bitbucket.org/{{ author_data.bitbucket }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i><span class="label">Bitbucket</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.github %}
        <li>
          <a href="https://github.com/{{ author_data.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.gitlab %}
        <li>
          <a href="https://gitlab.com/{{ author_data.gitlab }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i><span class="label">GitLab</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.stackoverflow %}
        <li>
          <a href="https://stackoverflow.com/users/{{ author_data.stackoverflow }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i><span class="label">Stack Overflow</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.lastfm %}
        <li>
          <a href="https://last.fm/user/{{ author_data.lastfm }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i><span class="label">Last.fm</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.dribbble %}
        <li>
          <a href="https://dribbble.com/{{ author_data.dribbble }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i><span class="label">Dribbble</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.pinterest %}
        <li>
          <a href="https://www.pinterest.com/{{ author_data.pinterest }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i><span class="label">Pinterest</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.foursquare %}
        <li>
          <a href="https://foursquare.com/{{ author_data.foursquare }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i><span class="label">Foursquare</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.steam %}
        <li>
          <a href="https://steamcommunity.com/id/{{ author_data.steam }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-steam" aria-hidden="true"></i><span class="label">Steam</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.youtube %}
        {% if author_data.youtube contains "://" %}
          <li>
            <a href="{{ author_data.youtube }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube</span>
            </a>
          </li>
        {% elsif author_data.youtube %}
          <li>
            <a href="https://www.youtube.com/user/{{ author_data.youtube }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube</span>
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if author_data.soundcloud %}
        <li>
          <a href="https://soundcloud.com/{{ author_data.soundcloud }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i><span class="label">SoundCloud</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.weibo %}
        <li>
          <a href="https://www.weibo.com/{{ author_data.weibo }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-weibo" aria-hidden="true"></i><span class="label">Weibo</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.flickr %}
        <li>
          <a href="https://www.flickr.com/{{ author_data.flickr }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-flickr" aria-hidden="true"></i><span class="label">Flickr</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.codepen %}
        <li>
          <a href="https://codepen.io/{{ author_data.codepen }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-codepen" aria-hidden="true"></i><span class="label">CodePen</span>
          </a>
        </li>
      {% endif %}

      {% if author_data.vine %}
        <li>
          <a href="https://vine.co/u/{{ author_data.vine }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            <i class="fab fa-fw fa-vine" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
          </a>
        </li>
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>
